# Ignore all .env files
*.env
*config.env

# Ignore folders inside tafe
week1/node_modules/
week2/node_modules/
week3/node_modules/
week3/authInMern/.env
week3/authInMern/db.js
week4/node_modules/
week5/node_modules/
/week6/Lab06_(2)/Lab06/products-app-node/node_modules/*
/week6/Lab06_(2)/Lab06/products-app-node/.env
/week6/Lab06_(2)/Lab06/my-product-app-react/node_modules/*
# Ignore all .env files
*.env

# Ignore node_modules directories
node_modules/*

# Ignore all composer files
composer/

# Ignore specific file in week6 folder
week6/mern-momgodb/mern/server/db/connection.js

